@include '../header.html'
<meta name="og:title" content="@app.config.title Kampagne auf fff-potsdam.de">
<meta name="og:description" content="@app.config.description">

<div id="header" class="main-header"><h1>@app.config.title</h1>
	<div id="description" class="main-description">@app.config.description</div>
</div>
@include '../participate.html'
@include '../question/question.html'
@include '../spices.html'
<link rel="prefetch stylesheet" href="/static/form.css">
<link rel="prefetch stylesheet" href="/static/navbar.css">
<link rel="prerender" href="/question/new" as="document">
@include '../footer.html'
