@include '../header.html'
@css '/static/navbar.css'
<meta name="og:title" content="Fragen zur Potsdamer Stadtentwicklung auf fff-potsdam.de ansehen">
<meta name="og:description" content="@app.config.description">

<div class="main-header">
	<h1>Gestellte Fragen ansehen</h1>
</div>

<div id="main-nav">
	<input type="checkbox" id="main-nav-check">
	<div class="main-nav-title main-nav-links">
		<a id="homepage" href="/">← Zurück zur Hauptseite</a>
	</div>
	<div class="main-nav-btn">
		<label for="main-nav-check">
			<span></span>
			<span></span>
			<span></span>
		</label>
	</div>
	<div class="main-nav-links main-nav-links-hide">
		<a href="#questions-new">Neue Fragen</a>
		<a href="#questions-random">Zufällige Fragen</a>
		<a href="#questions-answered">Beantwortete Fragen</a>
	</div>
</div>

<div id="questions-new" class="main-target-header"></div>
<div class="main-header">
	<h2>Neueste Fragen</h2>
</div>
@for question in newest_questions
	@include 'question.html'
@end

<div id="questions-random" class="main-target-header"></div>
<div class="main-header">
	<h2>Zufällige Fragen</h2>
</div>
<div id="random-questions">
@for question in random_questions
	@include 'question.html'
@end
</div>
<div class="refresh-button">
	<a href="#questions-random"><button>Andere Fragen</button></a>
	<noscript>Tut uns leid, aber dieser Knopf geht nur mit aktiviertem Javascript. Alternativ kannst du auch einfach die Seite neu laden.</noscript>
</div>

<div id="questions-answered" class="main-target-header"></div>
<div class="main-header">
	<h2>Beantwortete Fragen</h2>
</div>
<div id="random-replied-questions">
@for question in random_replied_questions
	@include 'question.html'
@end
</div>

<!--
<div class="refresh-button">
	<a href="#questions-answered"><Andere Fragen</a>
	<noscript>Tut uns leid, aber dieser Knopf geht nur mit aktiviertem Javascript. Alternativ kannst du auch einfach die Seite neu laden.</noscript>
</div>
-->

<script type="text/javascript">
	let buttons = document.getElementsByClassName('refresh-button');
	for(let i=0;i<buttons.length;i++){
		buttons[i].onclick=function(e){
			const a = this;
			fetch("/question/get/"+this.previousElementSibling.id).then(data=>{return data.text()}).then(function(text){
				a.previousElementSibling.innerHTML=text
			});
		}
	}
</script>

@include '../footer.html'
 
