@include '../header.html'
@css '/static/form.css'
<meta name="og:title" content="Stelle eine Frage zur Potsdamer Stadtentwicklung auf fff-potsdam.de">
<meta name="og:description" content="@app.config.description">

<a id="homepage" href="/" class="main-startpage-button">← Zurück zur Hauptseite</a>
<div id="header" class="main-header">
	<h1>Stellen Sie eine Frage</h1>
</div>
<form method="POST" action="/question/submit" class="main-new-form">
	<label for="recipient">An wen richtet sich Ihre Frage? Vielleicht an ...</label>
	@for recipient in proposed_recipients
		<div class="recipient main-recipient-select" onclick="getElementById('recipient').value='@recipient.name'">
			<input type="radio" id="@recipient.id" name="recipients">
			<label for="@recipient.id">@recipient.name</label>
		</div>
	@end
	... oder wen anders.
	<input type="text" id="recipient" name="recipient" placeholder="An wen geht die Frage?" required
		onchange="var elements=document.getElementsByName('recipients');for(var i=0;i<elements.length;i++)elements[i].checked = false;">
	<label for="question">Was fragen Sie sich zu dem Thema?</label>
	<textarea name="question" placeholder="Ich frage Sie, ..." required></textarea>
	<label for="reference">Optional: Wenn sich Ihre Frage auf ein Thema (z. B. Zeitungsartikel) bezieht, können Sie hier eine Ressource verlinken:</label>
	<input type="text" id="reference" name="reference" placeholder="https://">
	<label for="name">Und zuletzt: Wie heißen Sie?</label>
	<input type="text" id="name" name="submitter_name" placeholder="Ihr Name" required>
    <span>Datenschutzhinweis: Ihr Name wird öffentlich auf der Kampagnenseite veröffentlicht. Weitere Daten erfassen und speichern wir nicht.</span>
	<button type="submit">Und Go!</button>
</form>
@include '../spices.html'
@include '../footer.html' 
