<div class="main-question-view">
	<span class="main-question-view-supporters">
	@{list_names(question.supporters)}
	@if question.supporters.absolute_count > question.supporters.users.len
		sowie @{question.supporters.absolute_count - question.supporters.users.len} weitere
	@end
	@if question.supporters.users.len > 1
		fragen
	@else
		fragt
	@end
	@{list_names(question.recipients)}<!--
	@if question.question.reference == ""
		-->:
	@else
		--> in Bezug auf <a href="@question.question.reference"
		@if !question.question.reference.starts_with("/question/show")
			target="blank"
		@end
		>@{limit(question.question.reference.replace("http://","").replace("https://","").replace("/question/show/","Frage "), 75)}</a>:
	@end
	</span>
	<span class="main-question-view-share">
		<a href="/question/share/@question.question.id">@app.config.share_label</a>
	</span>
	<div class="main-question-view-question">@question.question.question</div>
	@if question.question.is_closed == false
		<div class="main-question-support-view">
			<form method="POST" action="/question/support/@question.question.id">
				<label for="supporter_name">Stellst du Dir diese Frage auch?</label>
				<input type="text" name="supporter_name" placeholder="Dein Name" required>
				<button type="submit">Ja!</button>
			</form>
		</div>
		<span class="main-question-view-data">Datenschutzhinweis: Ihr Name wird öffentlich auf der Kampagnenseite veröffentlicht. Weitere Daten erfassen und speichern wir nicht.</span>
	@end
	@if question.replies.len > 0
		<div class="main-question-view-reply">
			<div>Diese Frage wurde beantwortet:</div>
			@for reply in question.replies
				@include '../question/reply.html'
			@end
		</div>
	@end
</div>
