<div class="main-question-view-reply-parent">
	<div class="main-question-view-reply-replier">@{app.get_recipient(reply.recipient_id).name}:</div>
	<div class="main-question-view-reply-replytext">@reply.reply</div>
</div>
