@include '../header.html'
<link rel="canonical" href="/question/show/@question.question.id">
<meta name="og:url" content="/question/show/@question.question.id">
<meta name="og:title" content="Frage von @{question.supporters.absolute_count} Menschen auf fff-potsdam.de ansehen">
<meta name="og:description" content="@{limit(question.question.question,100)}">

<a id="homepage" href="/" class="main-startpage-button">← Zurück zur Hauptseite</a>
@if custom_message != ""
	<div class="main-success-message-box">
		@custom_message<br/>
		Du kannst diese Frage auch über diesen Link teilen: <pre><a href="../show/@question.question.id">https://fff-potsdam.de/question/show/@question.question.id</a></pre>
	</div>
@end

@include 'question.html'
@include '../footer.html'
