@include '../header.html'
@css '/static/form.css'
<link rel="canonical" href="/question/show/@question.question.id">
<meta name="og:url" content="/question/show/@question.question.id">
<meta name="og:title" content="Frage von @{question.supporters.users.len} Menschen auf fff-potsdam.de beantworten">
<meta name="og:description" content="@{limit(question.question.question,100)}">

<a id="homepage" href="/" class="main-startpage-button">← Zurück zur Hauptseite</a>
@if custom_message != ""
	<div class="main-success-message-box">
		@custom_message<br/>
	</div>
@end

@include '../question/question.html'

<form action="" method="POST" class="main-new-form">
	<h2>Sie können Ihre Antwort bearbeiten:</h2>
	<textarea name="reply" placeholder="Hier können Sie eine Antwort schreiben" required>@reply.reply</textarea>
	<button type="submit">Und Go!</button>
</form>
@include '../footer.html'
