@include '../header.html'

<h1>Prepare Replies</h1>

Recipient: @recipient.name<br/>
Mail: @recipient.email<br/>

<table>
<tr>
	<th>reply id</th><th>question id</th><th>key</th>
</tr>
@for question in questions_to_recipient
	<tr>
		<td>@{question.replies[0].id}</td>
		<td><a href="/question/show/@question.question.id" target="_blank">@question.question.id</a></td>
		<td><a href="/reply/edit/@{question.replies[0].id}/@{question.replies[0].key}" target="_blank">@{question.replies[0].key}</a></td>
	</tr>
@end
</table>

<textarea style="width:100%;min-height:400px">@mail_text</textarea>

@include '../footer.html'
