html {
	scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    font-size: 1.2rem;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    color: white;
}

body, #main-nav, #main-nav > .main-nav-links-hide {
	background-color: #1B7340;
}

a {
	color: inherit;
}

a:hover {
	text-decoration: none;
}

/* footer */
.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    right: 0;
    padding: 1rem 2rem 1.2rem 2rem;
    background-color: #549670;
}
.main-footer > :first-child {
    float: left;
}
.main-footer > :last-child {
    float: right;
}

/* header */
 .main-header {
	padding: 1rem 7rem;
}
.main-header h1, .main-header h2 {
	text-align: center;
	font-size: 3rem;
	margin: 1rem auto;
 }
 
.main-target-header {
	margin-bottom: 50px;
}

/* buttons */
button {
	background-color: #f5333f;
	border-radius: 1rem;
	border-style: none;
	color: white;
	padding: 1rem;
}
.main-content {
    border-top: #1DA64A dashed 0.3rem;
    width: available;
    text-align: center;
    padding: 0.5rem 1rem 0;
}
.main-content button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    margin: 0.7rem auto;
}
.refresh-button, .refresh-button > a > button {
	font-size: 1.4rem;
	text-align: center;
}

/* question view */
.main-startpage-button {
    text-decoration: none;
    color: #90D3ED;
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.main-success-message-box {
    padding: 1rem;
    margin: 1rem 7rem;
    border-radius: 2rem;
    text-align: center;
    background-color: #90D3ED;
    color: black;
}
.main-question-view {
    margin: 1rem 7rem 2rem 7rem;
    padding: 1rem;
    font-size: 1rem;
    display: block;
    border-radius: 1rem;
    background-color: #1DA64A;
}
body .main-question-view:nth-last-of-type(1) {
    margin-bottom: 5.2rem;
}
.main-question-view-share {
	float: right;
	color: #fff;
}

.main-question-view-share::before {
	background-size: fit;
	background-image: url("/static/share.svg");
	background-attachment: position:left;
	background-repeat: no-repeat;
	padding-right: 15px;
	margin: 5px;
	content: " ";
}

.main-question-view-question {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem 1rem;
}
.main-question-view-data {
    font-size: 0.65rem;
    display: flex;
    justify-content: right;
    margin-top: 0.2rem;
}
.main-question-support-view form {
    display: flex;
}
.main-question-support-view form input {
    border: none;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 0.4rem;
    padding: 0.4rem;
    color: black;
    font-family: sans-serif;
    background-color: #90D3ED;
    width: 30%;
}
.main-question-support-view form button {
    text-align: right;
    margin-left: auto;
    border-radius: 0.5rem;
    border-style: none;
    background-color: white;
    color: black;
    padding: 0.5rem;
}
.main-question-support-view form label {
    flex: 1;
}
.main-question-view-reply {
    margin-top: 1rem;
}
.main-question-view-reply-parent {
    background-color: #90D3ED;
	color: #333;
    border-radius: 1rem;
    margin: .5rem 2rem 0 2rem;
    padding: .7rem;
}
.main-question-view-reply-replytext {
    font-size: 1.5rem;
    padding: 0 1rem;
    text-align: center;
}
.main-question-view-reply-replier {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: .2rem;
}

/* index media query */
@media only screen and (max-width: 600px) {
    .main-footer {
        display: none;
    }
    body .main-question-view:nth-last-of-type(1) {
        margin-bottom: 1rem;
    }
    .main-header {
        padding: 1rem 4rem;
    }
    .main-content button {
        width: 100%;
    }
}
@media only screen and (min-width: 600px) and (max-width: 870px) {
    .main-footer {
        display: none;
    }
    body .main-question-view:nth-last-of-type(1) {
        margin-bottom: 1rem;
    }
    .main-header {
        padding: 1rem 5rem;
    }
}

/* new question form query */
@media only screen and (max-width: 1200px) {
    .main-new-form input {
        width: 70%;
    }
}
@media only screen and (max-width: 600px) {
    .main-new-form {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .main-new-form input {
        width: -moz-available;
        width: available;
    }
    .main-new-form button {
        min-width: 100%;
        text-align: center;
    }
}
@media only screen and (min-width: 601px) and (max-width: 870px) {
    .main-new-form {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

/* question view query */
@media only screen and (max-width: 600px) {
    .main-question-view {
        width: calc(100% - 4rem);
    }
}
@media only screen and (max-width: 870px) {
    .main-question-support-view form {
        align-items: center;
    }
    .main-question-support-view form input {
        flex: 1;
        margin-left: 1rem;
    }
}
@media only screen and (max-width: 1200px){
    .main-question-view {
        margin: 1rem;
    }
}
