/* new question form */
.main-new-form {
	border-radius: 1rem;
	background-color: #1DA64A;
	margin: 1rem 7rem;
	padding: 1rem;
}
.main-new-form * {
	display: block;
	font-size: 1.2rem;
}
.main-new-form label {
	margin-top: 1rem;
	margin-bottom: 0.2rem;
}
.main-new-form label:first-child {
	margin-top: 0;
	margin-bottom: 0.2rem;
}
.main-new-form button {
	margin-top: 1rem;
	text-align: right;
	margin-left: auto;
	padding: 0.7rem;
}
.main-new-form .main-recipient-select {
	margin: 0.5rem;
}
.main-new-form .main-recipient-select * {
	display: inline;
	margin: 0;
	width: auto;
}
.main-new-form input, .main-new-form textarea {
	border: none;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	border-radius: 0.4rem;
	padding: 0.4rem;
	color: black;
	font-family: sans-serif;
	background-color: #90D3ED;
	width: 50%;
}
.main-new-form textarea {
	min-width: 40%;
	max-width: calc(100% - 1.4rem);
	width: -moz-available;
	width: available;
	height: 2.9rem;
 }
.main-new-form span {
	margin-top: 0.2rem;
	font-size: 0.9rem;
}
