/* navbar */
#main-nav {
	height: 50px;
	width: 100%;
	top: 0;
	position: sticky;
}

#main-nav > .main-nav-title {
	display: inline;
	float: left !important;
}

#main-nav > .main-nav-btn,
#main-nav > #main-nav-check {
	display: none;
}

#main-nav > .main-nav-links {
	display: inline;
	float: right;
	font-size: 18px;
}

#main-nav > .main-nav-links > a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: #efefef;
}

#main-nav > .main-nav-links > a:hover, #main-nav > .main-nav-btn > label:hover,#main-nav #nav-check:checked ~ .main-nav-btn > label {
	background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width:900px) {
	#main-nav > .main-nav-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	}
	#main-nav > .main-nav-btn > label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}
	#main-nav > .main-nav-btn > label > span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #eee;
	}
	#main-nav > .main-nav-links-hide {
		position: absolute;
		display: block;
		width: 100%;
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: 0px;
	}
	#main-nav > .main-nav-links > a {
		display: block;
		width: 100%;
	}
	#main-nav > #main-nav-check:not(:checked) ~ .main-nav-links {
		height: 0px;
	}
	#main-nav > #main-nav-check:checked ~ .main-nav-links {
		height: calc(100vh - 50px);
		overflow-y: auto;
	}
}
